@using ecommerce.Models
@model StoreWrapper

<div class="row">
    <div class="col-sm-6">
        <h3>Add a New Order</h3>
        <form asp-controller="Store" asp-action="NewOrder" method="post">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="customer">Customer</label>
                <select class="form-control" name="customer">
                    @foreach (var customer in Model.customers)
                    {
                        <option value="@customer.customerid">@customer.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label for="Product">Product</label>
                <select class="form-control" name="product">
                    @foreach (var product in Model.products)
                    {
                        <option value="@product.productid">@product.name</option>
                    } 
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="quantity">Quantity</label>
                <select class="form-control" name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Customer Name</td>
                    <td>Product</td>
                    <td>Quantitiy</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
            @foreach (var order in Model.orders)
            {
                <tr>
                    <td>@order.customer.name</td>
                    <td>@order.product.name</td>
                    <td>@order.quantity</td>
                    <td>@order.createdat.ToString("MM/dd/yyyy")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>